/*******************************************************************
    APP MAIN STYLES
********************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 1.5rem 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

.active {
  color: #107aeb;
}

.text-color {
  color: #303030;
}

.flex {
  display: flex;
}

.content {
  background-color: #1c1c1c;
  color: #fff;
}

.pad-t {
  padding-top: 50px;
}

.pad-b {
  padding-bottom: 80px;
}

.margin-t {
  margin-top: 20px;
}

.margin-b {
  margin-bottom: 20px;
}

.btn-blue {
  background-color: #1C7CEC;
  color: #fff;
  width: 140px;
  padding: 10px;
  margin-top: 40px;
  position: relative;
  left: 40%;
}

.sez-blue {
  background-color: #1C7CEC;
  height: 20px;
  margin-top: 20px;
}

.h-t {
  height: 500px;
}

/*
* ES HEADER | FOOTER
*/
.header {
  display: flex;
  padding: 16px;
  align-items: center;
}
.header .nav-header {
  margin-left: 20px;
}
.header .nav-header ul {
  display: flex;
  list-style: none;
}
.header .nav-header ul a {
  text-decoration: none;
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
}

footer {
  height: 100px;
  background-color: #383838;
}
footer nav {
  justify-content: space-between;
  align-items: center;
}

.text-color a {
  color: #1C7CEC;
  font-weight: 800;
}

.btn {
  background-color: transparent;
  border: 2px solid #1C7CEC;
  color: #fff;
  width: 140px;
  padding: 10px;
  margin-top: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  margin-left: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 20%;
  margin: 0 20px;
}
.card img {
  display: block;
  margin-bottom: 20px;
}