.header {
    display: flex;
    padding: 16px;
    align-items: center;
    .nav-header {
        margin-left: 20px;
        ul {
            display: flex;
            list-style: none;
            a {
                text-decoration: none;
                margin-left: 15px;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}